---
import MainLayout from '../layouts/MainLayout.astro';
import AddExpenseForm from '../components/AddExpenseForm/AddExpenseForm';
---
<MainLayout>
  <h2 class="text-xl font-semibold mb-4">Add Expense</h2>
  <AddExpenseForm client:only="react" />
</MainLayout> 
